@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="header" style="background-color: midnightblue">
        <div class="imagen">
            <a class="imagen"><img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/UNICAES_Logo.png" height="60px" width="60px" style="float: left; margin-right: 10px;" /></a>
        </div>
        <h3 style ="color: white; align-content: center;">Creación de usuarios</h3>
        <p style="color: white; align-content: center;">Ingrese los datos solicitados</p>
    </div>
    <div class="ingresoDatos">
        <div ="form">

            <form asp-action="CrearUsuario">
                @*Inicio del Formulario*@
                <div class="formulario ancho-80">
                    <div class="row">
                        <div class="col-xs-12">
                            <div c lass="form-group mb-4">
                                <label>Nombre:</label>
                                @Html.TextBox("nombre", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div c lass="form-group mb-4">
                                <label>Apellido:</label>
                                @Html.TextBox("apellido", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group mb-4">
                                @Html.Label("lblDescripcion", "Dirección:")
                                @Html.TextArea("direccion", "", new { @class = "form-control", @placeHolder = "Ingrese la dirección" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group mb-4">
                                @Html.Label("lblDepartamento", "Departamento:")
                                @* @Html.DropDownList("id_departamento", ViewData["listaDeDepartamentos"] as SelectList, "Seleccione un estado", new { @class = "form-control" }) *@

                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group mb-4">
                                @Html.Label("lblPuesto", "Puesto:")
                                @* @Html.DropDownList("id_puesto", ViewData["listaDePuestos"] as SelectList, "Seleccione una categoría", new { @class = "form-control" }) *@
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group mb-4">
                                <input type="submit" class="btn btn-primary" value="Guardar" />
                            </div>
                        </div>
                    </div>
                </div>
                @*Fin del Formulario*@
            </form>

        </div>
        <div class="agregarFoto">
        </div>
        <div class="table">
        </div>
    </div>

</div>