@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="header" style="background-color: midnightblue">
        <div class="imagen">
            <a class="imagen"><img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/UNICAES_Logo.png" height="60px" width="60px" style="float: left; margin-right: 10px;" /></a>
        </div>
        <h3 style ="color: white; align-content: center;">Creación de usuarios</h3>
        <p style="color: white; align-content: center;">Ingrese los datos solicitados</p>
    </div>
    <div class="ingresoDatos">
        <div class="form" style="float: left; width: 50%;">

            <form asp-action="CrearCliente">
                @*Inicio del Formulario*@
                <div class="formulario ancho-80">
                    <div class="row">
                        <div class="col-xs-12">
                            <div c lass="form-group mb-4">
                                <label>Nombre:</label>
                                @Html.TextBox("nombre", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div c lass="form-group mb-4">
                                <label>Apellido:</label>
                                @Html.TextBox("apellido", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group mb-4">
                                @Html.Label("lblDescripcion", "Dirección:")
                                @Html.TextArea("direccion", "", new { @class = "form-control", @placeHolder = "Ingrese la dirección" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group mb-4">
                                @Html.Label("lblDepartamento", "Departamento:")
                                @Html.DropDownList("id", ViewData["listaDeDepartamentos"] as SelectList, "Seleccione un departamento", new { @class = "form-control" })

                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group mb-4">
                                @Html.Label("lblPuesto", "Puesto:")
                                @Html.DropDownList("id", ViewData["listaDePuestos"] as SelectList, "Seleccione un puesto", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group mb-4">
                                <input type="submit" class="btn btn-primary" value="Guardar" />
                            </div>
                        </div>
                    </div>
                </div>
                @*Fin del Formulario*@
            </form>


        </div>
        
        <div class="SubirLaImagen" style="float: left; width: 50%;">
            <form asp-action="SubirArchivo" method="post" enctype="multipart/form-data">
                <div class="form-group" style="text-align: center;">
                    <img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" alt="Descripción de la imagen" style="width: 200px;">
                    <input type="file" class="form-control" id="archivo" name="archivo" />
                </div>

                <button type="submit" class="btn btn-primary mb-2">Seleccionar archivo</button>
            </form>
        </div>
        

    </div>

    <div class="tablita">
        <div class="table">
            <div class="tablas">


                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre Completo</th>
                            <th>Email</th>
                            <th>Dirección</th>
                            <th>Departamento</th>
                            <th>Género</th>
                            <th>Puesto</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var clientes in (IEnumerable<dynamic>)ViewData["listadoDeClientes"])
                        {
                            <tr>
                                <td>@clientes.nombre</td>
                                <td>@clientes.email</td>
                                <td>@clientes.direccion</td>
                                <td>@clientes.departamento</td>
                                <td>@clientes.genero</td>
                                <td>@clientes.puesto</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>